<h1>My Friends</h1>

<div class="friendsholder">
<h3>Current Friends</h3>

<% unless @user.friends.empty? %>
<% @user.friends.each do |friend| %>
<div class="usersbox">
		<%= link_to (image_tag friend.profilepic? ? friend.profilepic : "questionmark.png", :size => "50x50"), user_path(friend) %>
		<%= link_to friend.name, user_path(friend) %>
		<span class="floatright">
			<%= link_to "Remove", user_friend_path(:user_id => current_user.id, :id =>friend.id), :method => :delete, :confirm => "Delete friend?" %>
		</span>
</div>
<% end %>
<% else %>
You currently have no friends. <%= link_to "Click here to find friends!", users_path %>
<% end %>

<h3>Friend requests</h3>
<% unless @user.requested_friends.empty? %>
<% @user.requested_friends.each do |requested_friend| %>
<div class="usersbox">
		<%= link_to (image_tag requested_friend.profilepic? ? requested_friend.profilepic : "questionmark.png", :size => "50x50"), user_path(requested_friend) %>
		<%= link_to requested_friend.name, user_path(requested_friend) %>
		<span class="floatright">
			<%= link_to "Cancel", user_friend_path(:user_id => current_user.id, :id => requested_friend), :method => :delete, :confirm => "Are you sure?" %>
		</span>
</div>
<% end %>
<% else %>
You have no friend requests.
<% end %>

<h3>Pending requests</h3>
<% unless @user.pending_friends.empty? %>
<% @user.pending_friends.each do |pending_friend| %>
		<div class="usersbox">
		<%= link_to pending_friend.name, user_path(pending_friend) %>
		<span class="floatright">
			<%= link_to "Accept", user_friend_path(:user_id => current_user.id, :id => pending_friend), :method => :put, :confirm => "Are you sure?" %>
			<%= link_to "Reject", user_friend_path(:user_id => current_user.id, :id => pending_friend), :method => :delete, :confirm => "Delete?" %>
		</span>
		</div>

<% end %>
<% else %>
You have no pending requests.
<% end %>

</div>
