<% provide(:title, 'Edit profile') %>

<div class="editprofilelogo">
	<%= link_to (image_tag "formlogo.png", :width => "200"), user_path(@user) %>
</div>

<%= form_for(@user) do |f| %>


<div class="formhold">

<div id="profpicbox">
	<% if @user.profilepic? %>
	<%= image_tag @user.profilepic.url, :id => "userpic" %>
	<% end %>
</div>
<div class="editprofform">
<div class="field">
	<%= f.label :profilepic, "Profile Picture" %>
	<%= f.file_field :profilepic %>
</div>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>

<div>
	<%= f.submit 'Submit', :class => 'submitbutton' %>
</div>

<%= link_to "Back", user_path(@user) %>

</div>



<% if @user.errors.any? %>
	<div id="error_exp">
		<h2><%= pluralize(@user.errors.count, "error") %> occurred.</h2>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	    </ul>
	</div>

	</div>
<% end %>
<% end %>

