	<% provide(:title, "Welcome, #{@user.name}!") %>

	<div class="numberoffriends">
		<% if current_user == @user %>
			<h1>You have <%= pluralize(@user.friendships.count, "friend") %></h1>
		<% else %>
			<h1><%= @user.name %> has <%= pluralize(@user.friendships.count, "friend") %></h1>
		<% end %>
			<% @user.friendships.each do |friendship| %>
			<%= link_to friendship.friend.name, user_path(friendship.friend) %>
			<% end %>
		
	</div>


	<div class="numberofalbums">
		<% if current_user == @user %>
			<h1>You currently have <%= pluralize(@user.albums.count, "album") %></h1>
			<%= link_to "Create a new album!", new_user_album_path(@user) %>
		<% else %>
			<h1><%= @user.name %> currently has <%= pluralize(@user.albums.count, "album") %></h1>
		<% end %>

	</div>

	<div class="wrapper clearfix">
		<% @user.albums.each do |album| %>
			<div class="albumthumb">
				<%= link_to image_tag(!album.photos.empty? ? album.photos.first.avatar.url(:medium) : album.name), user_album_path(@user, album) %>
				<br>
				<%= album.name %>
			</div>
		<% end %>
	</div>
	