<%= form_for ([@user, @album]), :html => { :id => "uploadform" } do |f| %>
<div class="formholder">
	<%= f.label :name %>
	<%= f.text_field :name %>

	<br>
	<label>Hosts</label>
	<% @user.friends.each do |friend| %>
	<%= friend.name %>
	<%= check_box_tag 'album[user_ids][]', friend.id, @album.users.include?(friend) %>
	<% end %>

	<%= f.label :description %>
	<%= f.text_area :description %>

 	<br>

	<%=f.submit %>
</div>
<% end %>


	