<%= form_for ([@user, @album]), :html => { :id => "uploadform" } do |f| %>
<div class="formholder">
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= collection_select(:users, :friend_id, @user.friends, :id, :name_with_initial, :multiple => true ) %>

	<%= f.label :description %>
	<%= f.text_area :description %>

 	<br>

	<%=f.submit %>
</div>
<% end %>


	