<%= form_for ([@user, @album]), :html => { :id => "uploadform", :multipart => true } do |f| %>
<div class="formholder">
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :friend_id %>
	<%= f.select :friend_id, @user.friendships.map { |friendship| [friendship.friend.name, friendship.friend.id]}, {:prompt => "Pick a friend"} %>

	<%= f.label :description %>
	<%= f.text_area :description %>

 	<br>

	<%=f.submit %>
</div>
<% end %>
