
	<div class="hostwrapper">
		<h3>Hosts:</h3>
		<% @album.users.each do |user| %>
		<%= link_to user.name, user_path(user) %> <br>
		<% end %>
	</div>

	<div class="albumswrapper">
		<div class="numberofpictures">
			<h1>This album currently has <%= pluralize(@album.photos.count, "photo") %></h1>
			<%= link_to "Upload new pics!", new_user_album_photo_path(@user, @album) %> |
			<%= link_to "Edit album", edit_user_album_path(@user, @album) %> |
			<%= link_to "View all albums", user_path(@user) %> 
		</div>

		<%= render :partial => "photos/photo", :collection => @photos %>

	</div>